<div>
    <h2>Solicituds</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="solicitud.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Nueva Solicitud
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="numero_solicitud"><span data-translate="jhipsterApp.solicitud.numero_solicitud">Numero Solicitud</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="fecha"><span>Fecha</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="hora"><span>Hora</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="acto_certificar"><span data-translate="jhipsterApp.solicitud.acto_certificar">Acto Certificar</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="origen"><span>Origen</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="estatus"><span>Estatus</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="prevencion"><span>Prevencion</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tiporesponsable"><span>Tiporesponsable</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="nombre_responsable"><span data-translate="jhipsterApp.solicitud.nombre_responsable">Nombre Responsable</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="solicitud in vm.solicituds track by solicitud.id">
                    <td><a ui-sref="solicitud-detail({id:solicitud.id})">{{solicitud.id}}</a></td>
                    <td>{{solicitud.numero_solicitud}}</td>
                        <td>{{solicitud.fecha | date:'mediumDate'}}</td>
                    <td>{{solicitud.hora | date:'medium'}}</td>
                    <td>{{solicitud.acto_certificar}}</td>
                    <td>{{solicitud.origen}}</td>
                    <td>{{solicitud.estatus}}</td>
                    <td>{{solicitud.prevencion}}</td>
                    <td data-translate="{{'jhipsterApp.Interno,externo.' + solicitud.tiporesponsable}}">{{solicitud.tiporesponsable}}</td>
                    <td>{{solicitud.nombre_responsable}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="solicitud-detail({id:solicitud.id})"
                                    class="btn btn-info btn-sm">
                            </button>
                            <button type="submit"
                                    ui-sref="solicitud.edit({id:solicitud.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="solicitud.delete({id:solicitud.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
